<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <header>
            <div id='logo'>
                NLP Web APP
            </div>
        </header>
        <main>
            <section id="analyse">
                <form id="form">
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <input id="submit" type="submit" name="submit" value="submit" disabled>
                </form>
            <section>
            <section id="form-results">
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>
        <footer>
            <p>Copyright 2019</p>
        </footer>
    </body>
</html>
