form
    border: 1px solid #545454
    border-radius: 3px
    padding: 40px

input
    padding: 5px 20px
    width: 100%
    line-height: 16px
    margin: 10px 0

#results
    h2
        font-size: 1.1em
        margin: .5em auto

    p
        line-height: 1.5

    b
        font-weight: bold

    #text
        margin: .8em auto
        padding: .5em
        border: 1px solid grey

    blockquote
        font-style: italic

.error
    color: red